@use 'variables';

.categories {
    margin-bottom: 128px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 800px) {
    .categories {
        grid-template-columns: 1fr 1fr;
    }
}

.category {
    display: block;
    padding: 12px 24px;
    margin: 6px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 12px;
    background-color: variables.$primary-color;
    color: variables.$text-color-secondary;
    text-decoration: none;
    border: 1px solid variables.$border-color;
}

@media (prefers-color-scheme: dark) {
    .category {
        background-color: variables.$primary-color-dark;
        color: variables.$text-color-secondary-dark;
        border: 1px solid variables.$border-color-dark;
    }
}

.categories .category:hover {
    background-color: variables.$white;
    color: variables.$text-color;
}

@media (prefers-color-scheme: dark) {
    .categories .category:hover {
        background-color: variables.$white-dark;
        color: variables.$text-color-dark;
    }
}