// themes/cupertino/source/styles/_footer.scss
@use 'variables';

footer {
    width: 100%;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
}
.inner {
    max-width: 980px;
    margin: auto;
    padding: 32px 16px;
}
footer span {
    color: variables.$footer-link-grey;
    display: block;
    font-size: 0.5rem;
    margin-bottom: 2px;
}