@use 'variables';

.blog .blog-list article.post-link {
	position: relative;
	background: variables.$card-bg;
	border-radius: 8px;
	padding: 2rem;
	margin: -0.5rem 0;
	box-shadow: variables.$shadow-light;

	h2 {
		margin: 1rem 0;
		line-height: 1.2;
		color: variables.$text-color;
	}

	.post-url {
		color: variables.$link-color;
		text-decoration: none;
		font-size: 1rem;
		display: block;
		margin-top: 1rem;
		word-break: break-all;

		&:hover {
			text-decoration: underline;
		}
	}

	// Add specific styling for lists inside link posts
	ol,
	ul {
		margin: 1.5em 0;
		line-height: 1.5em;
		font-size: 0.9rem;
		color: variables.$text-color;
	}

	// Add specific styling for list items inside link posts
	li {
		margin-bottom: 0.5rem;
		color: variables.$text-color;
	}

	// Dark mode
	@media (prefers-color-scheme: dark) {
		background: variables.$card-bg-dark;
		box-shadow: variables.$shadow-dark;

		h2,
		ol,
		ul,
		li {
			color: variables.$text-color-dark;
		}

		.post-byline {
			color: variables.$text-color-secondary-dark;
		}

		.post-url {
			color: variables.$link-color-dark;
		}
	}
}