@use 'variables';

.project-sticky-nav {
	position: relative;
	top: 0;
	z-index: 999;
	background: variables.$nav-bg;
	backdrop-filter: variables.$blur;
	border-bottom: 1px solid variables.$border-color;
	transition: transform 0.3s ease;
	height: auto;

	.project-nav-back {
		font-size: 0.75rem;
		opacity: 0.7;
		text-decoration: none;
	}

	@media (prefers-color-scheme: dark) {
		background: variables.$nav-bg-dark;
		border-bottom: 1px solid variables.$border-color-dark;
	}

	&.project-nav-hidden {
		transform: translateY(-100%);
	}

	.project-nav-container {
		max-width: 1000px;
		margin: 0 auto;
		padding: 0.3rem 1rem;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.project-nav-title {
			display: flex;
			align-items: center;
			font-weight: 500;
			gap: 1rem;

			a {
				font-size: 0.9rem;
				opacity: 0.7;
				text-decoration: none;

				&:hover {
					opacity: 1;
				}
			}
		}

		.project-section-links {
			display: flex;
			gap: 2rem;

			a {
				color: inherit;
				text-decoration: none;
				opacity: 0.8;
				transition: opacity 0.2s;

				&:hover {
					opacity: 1;
				}

				&.section-link-active {
					opacity: 1;
					font-weight: 500;
				}
			}
		}
	}
}