@use 'variables' as *;

:root {
	--primary-color: #{$primary-color};
	--text-color: #{$text-color};
	--text-color-secondary: #{$text-color-secondary};
	--border-color: #{$border-color};
	--white: #{$white};
	--white-1: #{$white-1};
	--card-bg: #{$card-bg};
}