@use 'variables';

:root {
    --primary-color: variables.$primary-color;
    --text-color: variables.$text-color;
    --text-color-secondary: variables.$text-color-secondary;
    --border-color: variables.$border-color;
    --white: variables.$white;
    --white-1: variables.$white-1;
    --card-bg: variables.$card-bg;
}