// themes/cupertino/source/styles/_nav.scss
@use 'variables';

nav {
    background-color: variables.$nav-bg;
    border-bottom: 1px solid variables.$border-color;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 24px;
    z-index: 1000;
    -webkit-backdrop-filter: variables.$blur;
    backdrop-filter: variables.$blur;
    transition: height 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    width: 100%;
}

@media (prefers-color-scheme: dark) {
    nav {
        background-color: variables.$dark-nav-bg;
        border-bottom: 1px solid variables.$dark-border-color;
    }
}

nav > .nav-content-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 980px;
}
nav > .nav-content-container > .breadcrumbs {
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    height: 48px;
}
nav > .nav-content-container > .breadcrumbs > .nav-spacer {
    color: rgba(0, 0, 0, 0.3);
}
@media (prefers-color-scheme: dark) {
    nav > .nav-content-container > .breadcrumbs > .nav-spacer {
        color: rgba(255, 255, 255, 0.3);
    }
}
nav > .nav-content-container > .breadcrumbs > a {
    margin: auto 9px;
}
nav > .nav-content-container > .breadcrumbs > a h2 {
    border-radius: 3px;
    color: #000;
    display: flex;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.125;
    letter-spacing: 0.004em;
    padding: 3px;
    position: sticky;
    text-align: center;
    text-transform: uppercase;
    top: 6px;
    width: fit-content;
    z-index: 9999;
}
nav > .nav-content-container > .breadcrumbs > a > .nav-home-page {
    color: rgba(0, 0, 0, 0.6);
}
nav > .nav-content-container > .breadcrumbs > a > .section-title.active {
    font-weight: bold;
}
// nav > .nav-content-container > .breadcrumbs > a > .nav-home-page {
//     color: rgba(255, 255, 255, 0.6);
// }
nav > * > .inner {
    display: inline-flex;
    flex-direction: row;
    max-width: 980px;
    margin: auto;
    padding: 0 16px;
}
nav > * > * {
    display: inline-block;
}
nav a,
nav a:hover,
nav a:focus,
nav a:active,
nav a:link,
nav a:visited {
    color: #000;
}
nav .nav-title h1 {
    font-size: 1.75rem;
    font-weight: 100;
    font-family: serif;
    color: #000 !important;
    text-align: center;
}
nav a.title .subhead {
    font-size: 0.3rem;
    font-weight: normal;
    margin-top: -20px;
    color: rgba(0, 0, 0, 0.3) !important;
}
@media only screen and (max-width: 1002px) and (orientation: portrait),
       only screen and (max-width: 1002px) and (orientation: landscape) {
    nav .nav-title {
        display: none;
    }
}
@media (prefers-color-scheme: dark) {
    nav > .nav-content-container > .breadcrumbs > .nav-spacer {
        color: rgba(255, 255, 255, 0.3);
    }
    nav > .nav-content-container > .breadcrumbs > a > .nav-home-page {
        color: rgba(255, 255, 255, 0.6);
    }
    nav .nav-arrow::before,
    nav .nav-arrow::after {
        background-color: variables.$nav-arrow;
    }
    nav a,
    nav a:hover,
    nav a:focus,
    nav a:active,
    nav a:link,
    nav a:visited {
        color: #fff;
    }
    nav .nav-title h1,
    nav a.title .subhead {
        color: #fff !important;
    }
    nav > .nav-content-container > .breadcrumbs > a > .section-title {
        color: #fff;
    }
}