<% /* Comment out layout-toggle block (hide layout toggle) */ %>
<% /* <div class="layout-toggle">
		<button id="toggleLayout" aria-label="Toggle layout (grid / list)"> <i class="fas fa-th-large"></i> </button>
	</div> */ %> 