<div class="loading-screen">
    <div class="loading-container">
        <img src="/img/skully.svg" alt="Skull logo" class="loading-skull" />
        <svg class="circular-text" viewBox="0 0 100 100">
            <path id="textPath" d="M50,50 m-40,0 a40,40 0 1,1 80,0 a40,40 0 1,1 -80,0" fill="none"/>
            <text>
                <textPath href="#textPath">
                • L O A D I N G • ▼
                </textPath>
            </text>
        </svg>
    </div>
</div> 