// Remove or empty the file since we're removing navigation

<nav class="site-nav">
  <div class="nav-container">
    <a class="nav-back" href="<%= url_for('/') %>?section=posts">← Back to Posts</a>
  </div>
</nav>
