<nav class="project-sticky-nav hide-not-in-iframe">
  <div class="project-nav-container">
    <div class="project-nav-title">
      <a class="project-nav-back" href="/blog">← Back</a>
    </div>
  </div>
</nav>
