<%- partial('_partial/nav') %>

<div class="archive">
    <% if (!page.path.startsWith('portfolio/')) { %>
    <div class="archive-toggle">
        <button id="show-all" class="active">Show All</button>
        <button id="show-blog">Show Blog Only</button>
        <button id="show-portfolio">Show Portfolio Only</button>
    </div>
    <% } %>

    <div class="archive-content">
        <div class="archive-list">
            <% 
            const allPosts = site.posts.sort((a, b) => new Date(b.date).getTime() - new Date(a.date).getTime());
            %>
            <ul>
            <% allPosts.forEach(function(post) { %>
                <li class="post-list-item <%= post.tags.map(tag => tag.name).join(' ') %>">
                    <a href="javascript:void(0);" onclick="loadPost('<%- post.path %>')"><%- post.title %></a>
                </li>
            <% }); %>
            </ul>
        </div>
        <div class="archive-details">
            <div id="post-details">
                <p>Select a post to view details.</p>
            </div>
        </div>
    </div>
</div>

<script src="/js/archive.js"></script>